/* This file is injected into every Vue component */

$body-font: "Open Sans", sans-serif;
$title-font: Montserrat, sans-serif;
$body-color: #fff;
$body-bg-color: #ff0000;
$border-color: #fff;
$link-color: #000;
$header-color: #fff;
$facebook-blue: #3C5A96;
$twitter-blue: #2ecbf8;
$team-internet-green: #26f8ff;
$team-cable-red: #80140c;
$muted-text-color: lighten(#fff, 10%);
$muted-link-color: #000;
$button-primary: #000;
$footer-bg-color: #dc0002;
$border-radius: 4px;
$container-width: 800px;

@mixin mobile {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin big-screen {
  @media only screen and (min-width: $container-width) {
    @content;
  }
}

@mixin small-screen {
  @media only screen and (max-width: $container-width - 1px) {
    @content;
  }
}

@mixin btn-icon($icon-url, $width, $height) {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:before {
    background-image: url($icon-url);
    background-size: cover;
    display: inline-flex;
    width: $width;
    height: $height;
    content: "";
    margin-right: .4rem;
  }
}
